.order-confirmation {

    width: 100vw;
    height: 100vh;
    background-color: #CE2829;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
}

.order-confirmation .content {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-confirmation .content p {

    color: white;
    font-family: "Barlow", serif;
    text-align: center;
    font-size: 35pt;
    font-weight: 200;
    letter-spacing: -3px;
}